<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84570841750-88ui9u1su3mv1q2pckuhtb9i55i4ibjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84570841750-88ui9u1su3mv1q2pckuhtb9i55i4ibjj</string>
	<key>API_KEY</key>
	<string>AIzaSyAvaLLOGzwGvcu35uRyqLC_0rhpFNpQEkE</string>
	<key>GCM_SENDER_ID</key>
	<string>84570841750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.lsat</string>
	<key>PROJECT_ID</key>
	<string>lsat-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>lsat-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84570841750:ios:494f4fc5a0e439df1c58b7</string>
</dict>
</plist>